body{
    background-color: #f3f3f3;
    color:#555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}

.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}

#mainHeader{
    background-color: rgb(113, 104, 248);
    color: rgb(185, 223, 116);
}

#navbar{
    background-color: #333;
}

#navbar ul{
    padding: o;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color:whitesmoke;
    text-decoration: none;
    font-size: 20px;
    padding-right: 15px;
}

#navbar a:hover{
    color: rgb(185, 223, 116);
}

#showcase {
    background-image: url('../css/billeder/showcase.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 400px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color:#fff;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float:left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar{
    float:left;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#sidebarTo{
    background-image: url('../css/billeder/mig.png');
    background-position: center right;
    background-repeat: no-repeat;
    min-height: 400px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

#mainFooter{
    background: #333;
    color:#fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}